body {
    background-color: #E5E4DD;
    color: #2F2500;
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
}
a:link, a:visited {
    transition: 0.7s ease;
    color: #B0963B;
    text-decoration: none;
}
a:hover {
    transition: 0.7s ease;
    color: #084887;
}
.color-blue {
    color: #084887;
}
.color-dark-grey {
    color: #716A5C;
}
.color-yellow {
    color: #EFC11A;
}
.color-dark {
    color: #2F2500;
}
.color-background-bright {
    color: #D7D5C8;
}
.color-background-brightest {
    color: #E5E4DD;
}
.content-width {
    max-width: 1170px;
    margin: auto;
}
.article-width {
    box-sizing: border-box;
    max-width: 770px;
    padding: 0;
    text-align: justify;
    text-justify: inter-word;
}
header {
    box-sizing: border-box;
    height: 180px;
    padding: 52px 0;
    display: flex;
}
#header-logo {
    display: flex;
    flex-grow: 5;
    flex: 0 0 41%;
    margin: 0 auto 0 0;
}
#header-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 59%;
    justify-content: space-between;
}
h1 {
    display: inline-block;
    font-size: 32px;
    letter-spacing: 0.08em;
    font-weight: 500;
    margin: 0;
}
h2 {
    display: inline-block;
    margin: 0;
    margin-right: 30px;
    padding: 0;
    width: 170px;
    text-align: right;
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 0.08em;
    color: #084887;
}
h3 {
    margin: 9px 0 10px 0;
    font-size: 22px;
    font-weight: bold;
}
.header-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav.header-row {
    font-size: 24px;
    letter-spacing: 0.08em;
    font-weight: normal;
}
#hero-filler-1 {
    height: 50px;
    background-image: linear-gradient(to top, #E5E4DD, #D7D5C8);
}
#hero-filler-2 {
    height: 50px;
    background-image: linear-gradient(to bottom, #E5E4DD, #D7D5C8);
}
article {
    background-image: linear-gradient(to bottom, #E5E4DD, #E5E4DD, #E5E4DD, #D7D5C8);
    padding: 50px 0;
}
.feature {
    display: flex;
    flex-direction: row;
}
p {
    font-family: "Playfail Display";
    font-size: 20px;
    margin: 9px 0 20px 0;
}
.detail {
    font-family: "Playfail Display";
    font-size: 18px;
    color: #2F2500;
}
ul {
    margin: 9px 0 0 0;
    padding: 0;
}
li {
    margin: 0 0 20px 0;
    font-family: "Playfail Display";
    font-size: 20px;
    list-style-type: none;
    list-style-position: inside;
}
li.offer-category::before {
    content: "\2022  ";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #084887; /* Change the color */
    font-weight: bold; 
}
ul ul {
    margin: 3px 0 0 20px;
}
li li {
    margin: 0;
}
footer {
    color: #E5E4DD;
    background-color: #716A5C;
}
#footer-content {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a img {
    transition: 0.7s ease;
    opacity: 75%;
}
a img:hover {
    transform: scale(1.1);
    opacity: 100%;
    transition: 0.7s ease;
}